#one{
    background-color: #F5C6D6;
    padding: 75px;
    border: solid white 5px;
    
}

#two{
    background-color: #EE2E84;
    padding: 75px;
    border: solid white 5px;
    width: 265px;
    display: inline-block
    
}

#three{
    background-color: #EE2E84;
    padding: 75px;
    border: solid white 5px;
    width: 265px;
    display: inline-block
    
}

#four{
    background-color: #EE2E84;
    padding: 75px;
    border: solid white 5px;
    width: 265px;
    display: inline-block
    
}

#five{
    background-color: #EE2E84;
    padding: 75px;
    border: solid white 5px;
    width: 265px;
    display: inline-block
    
}

#six{
    background-color: #85CFD8;
    padding: 75px;
    border: solid white 5px;
    width: 692.5px;
    display: inline-block
    
}

#seven{
    background-color: #85CFD8;
    padding: 75px;
    border: solid white 5px;
    width: 692.5px;
    display: inline-block
    
}

#eight{
    background-color: #8DC63F;
    padding: 75px;
    border: solid white 5px;
    width: 1100px;
    display: inline-block
    
}

#nine{
    background-color: #E76E34;
    padding: 75px;
    border: solid white 5px;
    width: 285px;
    display: inline-block
    
}