body{
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#france{
    height: 200px;
    width: 300px;
    background-color: #3d3d3d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first{
    height: 100%;
    width: 100px;
    background-color: #002495;
    float: left;
}
.second{
    height: 100%;
    width: 100px;
    background-color: white;
    float: left;
}
.third{
    height: 100%;
    width: 100px;
    background-color:#ED2938;
    float: left;
}
#germany{
    height: 300px;
    width: 500px;
    background-color: #3d3d3d;
    margin-top: 20px;
    margin-bottom: 20px;
}
.firstg{
    height: 100px;
    width: 100%;
    background-color: black;
}

.secondg{
    height: 100px;
    width: 100%;
    background-color: #DE0002;
}

.thirdg{
    height: 100px;
    width: 100%;
    background-color: #FFCE00;
}

#madagascar{
    height: 200px;
    width: 300px;
    background-color: #3d3d3d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstm{
    height: 100%;
    width: 100px;
    background-color: #FFFFFF;
    float: left
}

.secondm{
    height: 100px;
    width: 100%;
    background-color: #FC3E32;
 
}

.thirdm{
    height: 100px;
    width: 100%;
    background-color: #007E39;
 
}


#switzerland{
    height: 100px;
    width: 100px;
    background-color:#FF0002;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 33px 33px 33px;
}

.firsts{
    height: 15px;
    width: 55px;
    background-color: white;
    grid-area: 1/2/3/2;
    margin-top: 40px;
}

.seconds{
    height: 55px;
    width: 15px;
    background-color: white;
    grid-area: 2/2/3/2;
   margin: 0 auto;
   margin-top: -12px;
}

#sweden{
    height: 500px;
    width: 800px;
    background-color:#0269A6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstsw{
    height: 100%;
    width: 70px;
    background-color: #FEcc00;
    margin-left: 230px;
}

.secondsw{
    height: 70px;
    width: 100%;
    background-color:#FEcc00;
    margin-top: -280px;
}
#gambia{
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstga{
    height: 33%;
    width: 100%;
    background-color:#CE1127;
}

.secondga{
    height: 4.5%;
    width: 100%;
    background-color:white;
}

.thirdga{
    height: 25%;
    width: 100%;
    background-color: #0d1d8b;
}

.fourthga{
    height: 4.5%;
    width: 100%;
    background-color: white;
}

.fifthga{
    height: 33%;
    width: 100%;
    background-color:#3B7827;
}


#japan{
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstj{
    height: 100px;
    width: 100px;
    background-color: #BC022C;
    border: 1px solid white;
    border-top-width: 50px;
    border-bottom-width: 50px;
    border-radius: 100%;
    margin: 0 auto;
}

#niger{
    height: 600px;
    width: 700px;
    background-color: #3d3d3d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstn{
    height: 33%;
    width: 100%;
    background-color: #E15307;
}

.secondn{
    height: 33%;
    width: 100%;
    background-color: white;
}

.thirdn{
    height: 34%;
    width: 100%;
    background-color: #10AF2A;
}

.fourthn{
    height: 150px;
    width: 150px;
    background-color: #E15307;
    border: 1px solid white;
    margin-top: -380px;
    margin-left: 270px;
    border-radius: 100%;  
}